* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    background-color: #0d1117;
}

.container {
    background-color: #161b22;
    color: #f0f6fc;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    width: 500px;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

h1 {
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;

    margin-bottom: 2rem;
}

button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    color: white;

    font-size: 1rem;
    cursor: pointer;

    transition: all 0.2s ease;
}

#rock {
    background-color: #da3633;
}

#paper {
    background-color: #1f6feb;
}

#scissors {
    background-color: #238636;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
}

button:disabled:hover {
    transform: none;
    box-shadow: none;
}

#results,
#score,
#winner {
    margin-top: 1rem;
}

#results {
    font-size: 1.2rem;
}

#score {
    font-weight: bold;
}

#winner {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.winner {
    color: #3fb950;
    font-weight: bold;
}

.loser {
    color: #f85149;
    font-weight: bold;
}

#reset {
    display: none;
    margin-top: 30px;

    padding: 14px 28px;

    font-size: 1.1rem;
    font-weight: bold;

    background-color: #f39c12;
    color: white;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#reset:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}